# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment variables
.env

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Generated output
backend/output/*
!backend/output/.gitkeep